* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* background-color: hsl(217, 19%, 24%); */
    background-color: hsl(218, 23%, 16%);
}

.container {
    max-width: 460px;
    height: 50vh;

    margin: 20vh auto;
    /* background-color: hsl(217, 19%, 24%); */
    border-radius: 15px;

    padding: 0.5rem 1rem;

    
}


/*estilizaçao dos elementos de cima, h1, div, input, button*/
main #container_um {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border-radius: 15px;
    padding: 1rem;
    background-color: hsl(217, 19%, 24%);

}

main h1 {
    margin: 1rem 0rem;
    color: hsl(150, 100%, 66%);
}

main #result {
    width: 80%;
    padding: 0.8rem;
    border-style: none;

    background-color: hsl(193, 38%, 86%);

}
main #result:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

main #response {
    display: flex;
    justify-content: space-between;
  
    background-color: hsl(193, 38%, 86%);
}

main div button{
    background-color: rgba(0, 0, 0, 0);
    border: none;

}
main div button img{
    width: 32px;
}
main div button img:active{
    transform: translate(-1%, 2%);
}



/* estiilizaçao dos elementos do formulario*/
main form {
    margin: 1rem 0rem;
    padding: 1rem;

    border-radius: 15px;
    padding: 0.5rem 1rem;
    background-color: hsl(217, 19%, 24%);
    
}

form div {
    margin: 0.5rem 0rem;
}

form label {
    color: hsl(193, 38%, 86%) ;
}

form #input-quantDeCarct {
    background-color: hsl(218, 23%, 16%);
    border-style: none;
    color: hsl(193, 38%, 86%);

    width: 5rem;
    padding: 0.5rem;

}
form #input-quantDeCarct:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;

    width: 1rem;
    height: 1rem;

    border: 1px solid hsl(193, 38%, 86%);
}
input[type=checkbox]:checked {
    background-color: hsl(150, 100%, 66%);
}

/* input[type=checkbox] {
    position: relative;
    cursor: pointer;
}
  
input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 1rem;
    height: 1rem;

    /* background-color: hsl(193, 38%, 86%); */
/* }
input[type=checkbox]:checked {
    background-color: hsl(150, 100%, 66%);
}   */




form button{
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    border-radius: 15px;

    border-style: none;
    background-color: hsl(150, 100%, 66%);
    color: hsl(218, 23%, 16%);

    transition: all 0s linear 0s;

}
form button:active {
    transform: translate(-1px); 
    opacity: 0.8;
    transition: all 0s linear 0s;

}
form button:hover {
    opacity: 0.8;
}



@keyframes gira{
    to {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

